<odoo>
	<data>

		<record id="action_data_list" model="ir.actions.act_window">
			<field name="name">Components</field>
			<field name="res_model">vit.data</field>
			<field name="view_mode">tree,form</field>
			<field name="help" type="html">
				<p class="oe_view_nocontent_create"> Click to create a Import </p>
				<p>klik tombol create untuk bikin Data baru</p>
			</field>
		</record>

		<record id="action_item_list" model="ir.actions.act_window">
			<field name="name">Items</field>
			<field name="res_model">vit.item</field>
			<field name="view_mode">tree,form</field>
			<field name="help" type="html">
				<p class="oe_view_nocontent_create"> Click to create a Import </p>
				<p>klik tombol create untuk bikin Item baru</p>
			</field>
		</record>

		<menuitem id="data_0"
			name="Data"
			sequence="20"
			web_icon="vit_data,static/description/icon.png"/>

		<menuitem id="data_1"
			name="Data"
			sequence="40"
			parent="data_0"/>

		<menuitem id="data_comp"
			name="Components"
			parent="data_1"
			action="action_data_list"
			sequence="20"/>

		<menuitem id="data_item"
			name="Items"
			parent="data_1"
			action="action_item_list"
			sequence="25"/>

	</data>
</odoo>